$color-primery: #EC5863;
$color-primery-add: #4285F4;

$color-headers: #000000;
$color-main-text: #616161;
$color-add-text: #B0B0B0;
$color-text-light: #FCFDFE;

$color-background-main:#FAFBFD;
$color-background-light:#ffff;

$content-width: 1087px;
$bigtablet-width: 991.98px;
$tablet-width: 767.98px;
$mobile-big-width: 479.98px;
// $mobile-small-width: 319.98px;