.footer {
  padding: 47px 0;
  background-color: $color-background-light;
  @include media-tablet {
    padding: 25px 0;
  }
}
.footer__items {
  display: flex;
  justify-content: center;
  column-gap: 56px;
  align-items: center;
  @include media-laptop {
    column-gap: 30px;
  }
  @include media-bigmobile {
    flex-direction: column;
    row-gap: 20px;
  }
}